.ppc-main-container {
  margin: 10px 100px 10px 100px;
}

table {
  border: 1px solid #333;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  padding: 0px;
  overflow: auto;
  border-radius: 10px !important;
}

th,
td {
  border: 1px solid #333;

  padding: 10px;

  text-align: left;

  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0e0e0;
}

.ppc-column {
  height: 80px;
  background-color: #487dc2;
  color: #ffffff;
}
.ppc-column-1 {
  height: 80px;
  background-color: #48c24a;
  color: #ffffff;
}

.ppc-column-2 {
  height: 80px;
  background-color: #e8d46d;
  color: #ffffff;
}

/* TableComponent.css */

/* Style for the "Features" column */
.feature-cell {
  font-weight: bold;
  background-color: #00bfff;
  font-family: "Poppins Sans serif";
  color: white;
  height: 80px;
}

.row-cell {
  color: black;
}

.ppc-heading {
  font-family: "Poppins";
  font-size: 30px;
  text-align: center;
}

.ppc-button {
  text-align: center;
}

.learn-more-button-ppc {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: white;
  background-color: #0263c4;
  border-radius: 5px;
  border-width: 0px;
  outline: none;
  width: 120px;
  height: 40px;
  padding: 5px;
}

@media (max-width: 768px) {
  .ppc-main-container {
    margin: 10px 50px 10px 50px;
  }
  table {
    width: fit-content;
    max-width: fit-content;
    border-radius: 10px;
  }
  th,
  td,
  tr {
    width: 33.3% !important;
  }
}
