.image-slide {
  width: 100%;
  height: 400px;
}
.image-main-container {
  display: block;
  padding: 20px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}

@media only screen and (max-width: 767px) {
  .image-main-container {
    display: none;
  }
}

.image-slider-image {
  width: 100%;
  height: 400px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .image-slide {
    width: 80%;
    height: 40%;
  }
  .image-main-container {
    display: block;
    padding: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
  }
  .image-slider-image {
    width: 100%;
    height: 270px;
  }
}
