.web-main-container {
  margin: 10px 100px 10px 100px;
}

table {
  border: 1px solid #333;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  padding: 0px;
  overflow: auto;
  border-radius: 10px !important;
}

th,
td {
  border: 1px solid #333;

  padding: 10px;

  text-align: left;

  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0e0e0;
}

/* TableComponent.css */

/* Style for the "Features" column */
.feature-cell {
  font-weight: bold;
  background-color: #00bfff;
  font-family: Tahoma;
  color: white;
}

.row-cell {
  color: black;
}

.website-heading {
  text-align: center;
  font-family: "Poppins";
  font-size: 30px;
}

.web-main-column {
  height: 80px;
  background-color: #27292c;
  color: #ffffff;
  width: 20% !important;
}
.web-main-column-1 {
  height: 80px;
  background-color: #487dc2;
  color: #ffffff;
  width: 20% !important;
}
.web-main-column-2 {
  height: 80px;
  background-color: #48c24a;
  color: #ffffff;
  width: 20% !important;
}

.web-main-column-3 {
  height: 80px;
  background-color: #e8d46d;
  color: #ffffff;
  width: 20% !important;
}
.web-main-column-4 {
  height: 80px;
  background-color: #e5e4e2;
  color: #000;
  width: 20% !important;
}
.websitemaintannce-button {
  text-align: center;
}

.learn-more-button-web-main {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: white;
  background-color: #0263c4;
  border-radius: 5px;
  border-width: 0px;
  outline: none;
  width: 120px;
  height: 40px;
  padding: 5px;
}
@media (max-width: 768px) {
  table {
    width: fit-content;
    max-width: fit-content;
  }
  .web-main-features {
    font-size: 8px;
    width: 20% !important;
  }

  .web-main-container {
    margin: 10px 10px 10px 10px;
  }
  .web-main-column {
    height: 40px;
    background-color: #27292c;
    color: #ffffff;
    width: 20% !important;
  }
  .web-main-column-1 {
    height: 40px;
    background-color: #487dc2;
    color: #ffffff;
    width: 20% !important;
  }
  .web-main-column-2 {
    height: 40px;
    background-color: #48c24a;
    color: #ffffff;
    width: 20% !important;
  }

  .web-main-column-3 {
    height: 40px;
    background-color: #e8d46d;
    color: #ffffff;
    width: 20% !important;
  }
  .web-main-column-4 {
    height: 40px;
    background-color: #e5e4e2;
    color: #000;
    width: 20% !important;
  }
  .website-heading {
    text-align: center !important;
    font-family: "Poppins";
    font-size: 20px;
  }
  .website-maintance-directory {
    width: 20% !important;
  }
}
