
table {

    border:1px solid #333;
  
    width: 100%;
  
    border-collapse: collapse;
  
    margin-bottom: 20px;
  
  }
  
   
  
  th, td {
    border: 1px solid #333;
  
    padding: 10px;
  
    text-align: left;
  
    border-bottom: 1px solid #ddd;
  
  }
  
  th {
  
    background-color: #f2f2f2;
    
  }
  
  tr:nth-child(even) {
  
    background-color: #f2f2f2;
  
  }
  
  tr:hover {
  
    background-color: #e0e0e0;
  
  }
  
  .table-container{
    border: 1px;
    border-style: solid;
  }
  /* TableComponent.css */
  
  /* Style for the "Features" column */
  .feature-cell {
    font-weight: bold;
    background-color:#00BFFF;
    font-family:Tahoma;
    color:white;
    
  }
  
  .row-cell{
  background-color: #C9C0BB;
  color :black;
  }
  
  .table-container{
    padding: 20px;
    margin: 10px;
  }
  .learn-more-buttonorm {
    text-align: center;
    font-family: "Poppins", sans-serif !important;
    font-size: 12px !important;
    font-weight: 800;
    color: white;
    background-color: #0263c4;
    border-radius: 5px;
    border-width: 0px;
    outline: none;
    width: 120px;
    height: 30px;
    padding: 4px;
  }
  .ormsub-heading{
    font-weight: bold;
  }