.careers-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.career-hero-container {
  background-repeat: repeat-x;
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-size: cover;
}

.careers-heading {
  font-size: 30px !important;
  font-weight: bold !important;
  color: #000;
  margin-bottom: 20px;
}

.career-info {
  background-color: #fff;
  -webkit-box-shadow: 0 9.5px 25px 5.5px #ececeb;
  box-shadow: 0 9.5px 25px 5.5px #ececeb;
  margin-bottom: 7%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.careers-image {
  height: 400px;
  width: 600px;
  margin: 20px;
  margin-left: 80px;
}

.careers-image-container {
  display: flex;
  justify-content: flex-start;
}
.carrer-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
.career-form-main-container {
  width: 100%;
  height: fit-content;
  display: block;
}
.career-form {
  height: max-content;
}
@media screen and (max-width: 767px) {
  .careers-image {
    height: 100%;
    width: 100%;
    margin: 0px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .careers-image {
    height: 100%;
    width: 100%;
    margin: 0px;
    margin-right: 0px;
  }
}
