/* .slider{
    height: 160px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track{
    display: flex;
    width: 550px;
    height: 160px;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

.slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}


.slide{
    height: 200px;
    width: 550px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slider-images{
    width: 90%;
    height: 90px;
    transition: transform 1%;
}

img:hover{
    transform: translateZ(20px);
}



.slider::before,
.slider::after{
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width:5% 1;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

@media screen and (min-width: 310px) and (max-width: 430px){
    .slider-images{
        width: 90%;
        height: 200px;
        transition: transform 1%;
    }

    .slide{
        height: 200px;
        width: 250px;
        display: flex;
        align-items: center;
        padding: 15px;
        perspective: 100px;
    }
    
} */


.img1 {

    max-width: 200px;

    height: 60px;

    padding: 0 15px;

    object-fit: cover;

  }

 

.img1:last-of-type {

    padding-left: 0;

  }

 

.inner {

    position: relative;

    width: 100%;

    overflow: hidden;

    height: 5rem;

  }
  .wrapper {
    position: absolute;
    display: flex;
  }

  .section {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
  }

  @keyframes swipe {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-100%) ;
    }
  }

@media (max-width:767px){
    .img1 {
        max-width: 40px;
        height: 10px;
        padding: 0 15px;
        object-fit: cover;
  }
}