#submenu{

    left: 0;
    opacity: 0;

    position: absolute;

    top: 35px;

    visibility: hidden;

    z-index: 1;

    border: 1px solid rgba(0, 0, 0, 0.1);
}

li:hover ul#submenu{
    opacity: 1;
    top: 50px;
    visibility: visible;
}

#submenu li{
    float: none;
}

.nav-hover-un-ordered-list-container{
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    width: 500%;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
}

.nav-hover-reviews-list-link{
    text-decoration: none;
    color: rgb(130,148,168);
    padding: 5px;
}

.nav-hover-list-container{
    display: flex;
    align-items: center;
}
/* 
.hover-icons{
    background-color: #2b88c4;
    color: white;
    font-size: 15px;
    height: 40px;
    width: 50px;

    display: flex;

    justify-content: center;

    align-self: center;

    border-radius: 8px;

    margin-left: 25px;

    margin-right: 20px;

} */

.hover-popup{
    background-color: white;
    color: black;
}

.tech-container{
    display: flex;
}

.nav-hover-reviews-list-link:hover{
   color: black;
}

