.testing-first-main-heading {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold !important;
  font-size: 32px;
}

.testing-second-main-heading {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold !important;
  font-size: 32px;
  padding: 20px;
}
.testing-main-container {
  padding: 50px;
}

.testing-first-container {
  display: flex;
  background-color: #fff;
  height: 20%;
}

.testing-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 50%;
  padding: 30px;
}

.testing-heading {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 800 !important;
}

.testing-second-heading {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.testing-paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.testing-image-container {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 30px;
}

.testing-image {
  height: 300px;
  width: 400px;
}
.testing-image-2 {
  height: 350px;
}

.testing-button {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: white;
  background-color: #0263c4;
  border-radius: 5px;
  border-width: 0px;
  outline: none;
  width: 120px;
  height: 40px;
  padding: 5px;
}

.testing-icon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 300px;
  height: 220px;
}

.testing-icons-container {
  display: flex;
  justify-content: space-between;
}

.testing-first,
.testing-second,
.testing-third {
  background-color: #0263c4;
  border-radius: 30px;
  padding: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
}

.icon-heading {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 10px;
  font-weight: bold !important;
  text-align: center;
}

.icon-contianer-paragraph {
  font-weight: 500 !important;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
.testing-service-heading {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold !important;
  font-size: 32px;
  padding: 20px;
}

.testing-service-card {
  min-height: 450px;
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px;
}

.testing-service-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.testing-service-card-heading {
  font-size: 30px;
  font-weight: bold !important;
}

.testing-service-card-sub-heading {
  font-size: 20px;
  font-weight: bold !important;
}
.testing-service-card-para {
  font-size: 15px;
}

.testing-animation {
  height: 400px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .testing-image-2 {
    height: 300px;
    width: 400px;
  }
  .testing-paragraph {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
  }
  .testing-heading {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 800 !important;
  }
  .testing-second-heading {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
  }
  .testing-first-main-heading {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold !important;
    font-size: 25px;
  }
  .testing-second-main-heading {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold !important;
    font-size: 25px;
    padding: 20px;
  }
  .icon-heading {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding: 10px;
    font-weight: bold !important;
    text-align: center;
  }
  .icon-contianer-paragraph {
    font-weight: 500 !important;
    font-size: 15px;
    padding: 10px;
    text-align: center;
  }
  .testing-service-card-heading {
    font-size: 22px;
    font-weight: bold !important;
  }
  .testing-service-card-sub-heading {
    font-size: 16px;
    font-weight: bold !important;
  }
  .testing-service-card-para {
    font-size: 12px;
  }
  .testing-main-container {
    padding: 25px;
  }
}

@media screen and (min-width: 512px) and (max-width: 768px) {
  .testing-main-container {
    padding: 20px;
  }

  .testing-heading {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 800 !important;
  }
  .testing-paragraph {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 500;
  }
  .testing-button {
    font-size: 12px;
    height: 30px;
    width: 100px;
  }
  .testing-second-heading {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  .testing-animation {
    height: 300px;
    width: 300px;
    padding: -20px;
  }
  .testing-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .testing-image-2 {
    height: 200px;
    width: 250px;
  }
  .testing-second-main-heading {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold !important;
    font-size: 22px;
    padding: 20px;
  }
  .testing-first-main-heading {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold !important;
    font-size: 22px;
    padding: 0px;
  }
  .testing-text-container {
    padding: 15px;
  }
  .testing-image-container {
    padding: 15px;
  }
  .testing-service-card-heading {
    font-size: 18px;
    font-weight: bold !important;
  }
  .testing-service-card-sub-heading {
    font-size: 14px;
    font-weight: bold !important;
  }
  .testing-service-card-para {
    font-size: 10px;
  }

  .testing-service-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .testing-icon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 400px;
    height: 220px;
  }
  .testing-first,
  .testing-second,
  .testing-third {
    background-color: #0263c4;
    border-radius: 30px;
    padding: 10px;
    width: 320px;
    display: flex;
    justify-content: center;
  }
  .icon-heading {
    font-size: 15px;
  }
  .icon-contianer-paragraph {
    font-weight: 500 !important;
    font-size: 12px;
    padding: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 512px) {
  .testing-main-container {
    padding: 20px;
  }
  .testing-first-container {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    height: 20%;
  }
  .testing-heading {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 800 !important;
  }
  .testing-paragraph {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 500;
  }
  .testing-button {
    font-size: 12px;
    height: 30px;
    width: 100px;
  }
  .testing-second-heading {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
  .testing-animation {
    height: 300px;
    width: 300px;
    padding: -20px;
  }
  .testing-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .testing-image-2 {
    height: 200px;
    width: 250px;
  }
  .testing-second-main-heading {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold !important;
    font-size: 22px;
    padding: 20px;
  }
  .testing-first-main-heading {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold !important;
    font-size: 22px;
    padding: 0px;
  }
  .testing-text-container {
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .testing-image-container {
    padding: 15px;
    align-items: center;
    width: 100%;
  }
  .testing-service-card {
    width: auto;
  }
  .testing-service-card-heading {
    font-size: 18px;
    font-weight: bold !important;
  }
  .testing-service-card-sub-heading {
    font-size: 14px;
    font-weight: bold !important;
  }
  .testing-service-card-para {
    font-size: 10px;
  }

  .testing-service-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .testing-icon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 400px;
    height: 220px;
  }
  .testing-first,
  .testing-second,
  .testing-third {
    background-color: #0263c4;
    border-radius: 30px;
    padding: 10px;
    width: 280px;
    display: flex;
    justify-content: center;
  }
  .icon-heading {
    font-size: 15px;
  }
  .icon-contianer-paragraph {
    font-weight: 500 !important;
    font-size: 12px;
    padding: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 280px) {
  .testing-icon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 280px;
    height: 220px;
  }
  .testing-first,
  .testing-second,
  .testing-third {
    background-color: #0263c4;
    border-radius: 30px;
    padding: 10px;
    width: 280px;
    display: flex;
    justify-content: center;
  }
}
