.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius:12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.popup-content {
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width:60%;
  height: 550px;
  background-color: #359ff7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.request-call-back{
  font-family:"Roboto";
  font-size:30px;
  font-weight:600;
  margin-bottom: 30px;
}

.popup-label-name{
font-family:"Roboto";
  font-size:16px;
  font-weight:600;
  margin-bottom: 5px;
}
.popup-content h2 {
  margin-top: 0;
  color: white;
  text-align: center;
}

.popup-content input {
  padding: 5px;
  margin-bottom: 16px;
}

.popup-content button {

  padding: 10px;
  background-color: rgb(216, 223, 228);
  color: #359ff7;
  font-weight: 600;
  width: 120px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  cursor:pointer;
  color: black;
}
.Popup-input{
  display:block;
  width:100%;
  border-radius:5px;
  height:40px;
  border:none;
  color:#222;
}
.popup-select{
  margin-bottom:20px;
}

.callback-logo{
  width: 100%;
  align-self: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
@media (max-width:767px){
  .popup-content{
    width:100%;
  }
}

.success-message{
  color: green;
}

.error-message{
  color: red;
}

.pop-content-image-conatiner{
  justify-self: center;
  align-self: center;
  width: 100%;

}
@media screen and (max-width:762px){
  .pop-content-image-conatiner{
    display: none;
  }
}
.pop-content-content-conatiner{
  justify-self: center;
  align-self: center;
  width:100%;
  padding-right: 60px;
  height: 500px;
  padding-left: 60px;
  line-height: 0.8;
  display: flex;
  flex-direction: column;
}

.popup-submit-btn:hover{
  color: white;
  background-color: #359ff7;
  border: 1px solid white;
}