.container {
  margin: 0;
}

.resellar-polarian-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f9f6f6; */
  background-color: #f0f0f0;

  flex-direction: column;
  padding-top: 10%;
}

.siemens-resellar-polarian-card {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.polarianpic-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.siemens-card-logo {
  height: 120px;
  width: 120px;
  margin-bottom: 5%;
}

.siemens-resellar-polarian-hover-card:hover {
  box-shadow: 0px 50px 80px -40px rgba(237, 75, 0, 0.81);
}

.siemens-resellar-polarian-hover-card {
  background-color: #ffffff;
  border-radius: 30px 30px 30px 30px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  transition: box-shadow 300ms ease 0ms;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 450px;
  align-items: center;
}

.resellar-polarian-card-description {
  font-size: 15px;
}

.polaranpic {
  height: 450px;
  width: 450px;
}

.labyrinth-offering-unorderedlist-contianer {
  width: 100%;
  text-align: left;
  list-style-type: circle;
}

.resellar-polarian-card-description-para {
  text-align: left;
  font-size: 15px;
}

.resellar-polarian-card-description-heading {
  font-size: 20px;
  color: #ed4b00;
}

.second-pic {
  height: 400px;
  width: 400px;
  background-color: #f9f6f6;
}

.second-pic-container {
  display: flex;
  align-self: center;
  width: 100%;
}

.resellar-polarian-page-bottom-cards-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* 

.feature-box {
    height: 250px;
    width: 250px;
}  
.dark-graybg {
    background-color: #373f52;
}
.radius5 {
    border-radius: 5px;
}
.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.feature-box-description{
}

.feature-box figure .img-block {
    height: 100px;
    width: 100px;
    margin: -70px auto 40px;
    border: 1px solid #464f63;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.feature-box figure .img-block {
    height: 100px;
    width: 100px;
    margin: -70px auto 40px;
    border: 1px solid #464f63;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.bgdarkblue {
    background-color: #ffffff;
}
.polarian-card-image {
    border-radius: 40%;
  }
.polarian-card-image-2 {
    border-radius: 50%;
  }
 */

/*Hover cards*/
.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 50px 20px;
}

.card-container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  max-width: 100%;
  height: 300px;
  color: #ffffff;
  background: #1e2b33;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.card-container .card:hover {
  height: 380px !important;
}

.card-container .card .img-box {
  position: absolute;
  top: 20px;
  width: 170px;
  height: 170px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.card-container .card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
  height: 200px;
  width: 200px;
}

.card-container .card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container .card .content {
  position: absolute;
  top: 230px !important;
  width: 100%;
  height: 37px !important;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.card-container .card:hover .content {
  top: 130px !important ;
  height: 300px !important;
}

.card-container .card .content h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-container .card .content p {
  color: #fff;
}

.card-container .card .content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: var(--clr);
  color: white;
  font-weight: 500;
}

.card-container .card .content a:hover {
  opacity: 0.8;
}
.polarian-resellar-card-para {
  font-weight: normal;
  font-size: 15px;
  margin-top: 5px;
}

.polarian-resellsr-card-heading {
  font-weight: bold;
  font-size: 15px;
  color: #fff !important;
  padding: 5px;
}

@media screen and (min-width: 768px) and (max-width: 912px) {
  .polarianpic-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .polaranpic {
    height: 350px;
    width: 350px;
  }
  .second-pic {
    margin-top: 40px;
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .siemens-card-logo {
    height: 50px;
    width: 50px;
  }
  .polaranpic {
    margin-top: 40px;
    width: 250px;
    height: 250px;
  }
  .second-pic {
    margin-top: 40px;
    width: 250px;
    height: 250px;
  }
  .second-pic-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
}
