.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bg-container-3 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-color: #152850;
}

.card-container-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to top, #166ce7, #5990f7);
  height: 60vh;
  width: 60%;
  margin-top: 30px;
  border-radius: 25px 25px 25px 25px;
}

.login-logo {
  height: 300px;
  width: 280px;
  margin: 10px;
}

.login-welcome-heading {
  color: #152850;
  font-size: 36px;

  font-weight: bold;
}

.form-container {
  height: 60vh;
  width: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px 25px 25px 25px;
}

.login-button {
  width: 100px;
  color: #ffffff;
  background-color: #1565d8;
  font-size: 16px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.error-msg {
  text-align: center;
  color: #ff0b37;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.input-label {
  color: #5a7184;
  font-size: 14px;

  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 10px;
}
.close-1:hover {
  background-color: antiquewhite;
}
.input-field {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #c3cad9;
  padding-left: 10px;
  font-size: 14px;

  outline: none;
}

.popup-image-container {
  margin-top: 10px;
  padding: 30px;
  flex-grow: 1;
}

.popup-button-container {
  display: flex;
  justify-content: flex-end;
}

.popup-heading {
  color: #ffffff !important;

  font-weight: bold !important;
  font-size: 25px !important;
}

.popup-para {
  color: #ffffff !important;

  font-weight: normal !important;
  font-size: 15px !important;
}

@media (max-width: 767px) {
  .card-container-3 {
    flex-direction: column;
    height: auto;
    width: 80%;
    margin: 20px auto;
  }

  .login-logo {
    height: 200px;
    width: 180px;
    margin: 10px auto;
  }

  .form-container {
    height: auto;
    width: 100%;
    padding: 10px;
  }

  .popup-image-container {
    margin-top: -11px;
    padding: 29px;
    flex-grow: 1;
    height: 114px;
  }

  .popup-button-container {
    display: flex;
    justify-content: center;
  }
}

/* Styles for tablets (768px to 1023px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-container-3 {
    height: 60vh;
    width: 70%;
    margin-top: 30px;
  }

  .login-logo {
    height: 250px;
    width: 230px;
    margin: 10px;
  }

  .form-container {
    height: 60vh;
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .popup-image-container {
    margin-top: -6px;
    padding: 27px;
    flex-grow: 1;
  }

  .popup-button-container {
    display: flex;
    justify-content: flex-end;
  }
}

/* Styles for screens above 1023px */
@media (min-width: 1025px) {
  .bg-container-3 {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: #152850;
  }

  .card-container-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to top, #166ce7, #5990f7);
    height: 60vh;
    width: 60%;
    margin-top: 30px;
  }

  .login-logo {
    width: 280px;
    height: 225px !important;
    margin: 10px;
  }

  .form-container {
    height: 60vh;
    width: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 10px;
    padding-right: 10px;
  }

  .popup-image-container {
    margin-top: 10px;
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .popup-button-container {
    display: flex;
    justify-content: flex-end;
  }
}

.close-1 {
  color: rgb(254, 255, 255) !important;
  cursor: pointer;
  background-color: #5990f7;
  font-size: 28px;
  margin-top: -50px;
  border-radius: 50%;
  border: 2px solid #f7fbf7;
}
.close-container {
  display: flex;
  justify-content: flex-end;
}
