.headerLink{
    font-family:"Playfair Display SC";
    text-decoration:none;
    color:#475569;
}


.headerImage{
    height:30px;
    width:30px;
}

.HeaderText{
    font-size:15px;
    color: black;
}

.HeaderText:hover{
    color: #ed4b00;
}

.userNavbar{
    height:60px;
    background-color: white;
}


.navbar-brand{
    height: 100%;
    width: 10%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}


@media(min-width:700px){

    .navbarText{
        display:flex;
        justify-content:space-between;
        width:90%;
    }
}

.Headerbutton-container {
    position: relative;
    display: inline-block;
}

.Headerhover-button {
    padding: 8px 12px;
    background-color: #ffffff;
    cursor: pointer;
    background-color:transparent;
    border:none;
    display: flex;
    align-self: center;
    outline:none;
  }




.Headeroptions {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 8px;
    display: none;
}
 

.Headerbutton-container:hover .Headeroptions {
    display: block;
    background-color:  #ed4b00;
}

.Headeroption-item {
    padding: 4px 8px;
    cursor: pointer;
}  

  .Headeroption-item:hover {

    background-color: #007bff;
    color:#ffffff;
    padding-left:30px;
    text-decoration:underline;
  }

.link{
    text-decoration:none;
    color:#475569;
  }