.nav-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
  }
.mbl-nav-items-container{
    display: flex;
    align-self: flex-start;
    margin-left: 8%;
}


  .nav-content {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
    padding-left:100px;
    padding-top: 30px;
    padding-bottom: 25px;
    height: 64px;
    background-color: #f8fafc;
  }

  
  .nav-bar-mobile-logo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  
  .nav-bar-website-logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    text-decoration: none;
  }
  
  .nav-website-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
  
  
  
  .nav-bar-large-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width:1110px;
  }
  

  
  .nav-website-logo {
    width: 55px;
    
  }

  .nav-mobile-btn {
    background-color: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .nav-mobile-menu-icon {
    font-size: 24px;
  }
  
  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self:center;
    justify-content: center;
    align-self: flex-end;
    flex:1;
    gap:20px;
    padding-top:25px;
    list-style-type: none;
  }
  
  .mbl-nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex:1;
    gap:20px;
    
    list-style-type: none;
  }

  .nav-menu-item {
    margin-right: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #262626;
  }
  
  .logout-desktop-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    padding: 8px 24px;
    line-height: 16px;
    color: black;
    border: none;
    border-radius: 4px;
    margin-left: 14px;
    cursor: pointer;
    outline: none;

  }

  .navItemActive {
    color: #f7931e;
  }

  .Nav-Service-container{
    position:relative;
    list-style-type: none;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
  }
  .Nav-Service-container-items{
    position:absolute;
    top:30px;
    left:-170px;
    list-style-type:disc;
    visibility: hidden;
    text-decoration: none;
    display:flex;
    background-color: white;
    flex-wrap:wrap;
    gap:30px;
    min-width:450px;
    z-index: 100;
  }

.mbl-Nav-Service-container-items{
  position:absolute;
  top:35px;
  left:-170px;
  list-style-type:disc;
  visibility: hidden;
  text-decoration: none;
  display:flex;
  background-color: white;
  flex-wrap:wrap;
  gap:30px;
  min-width:450px;
}

  .Nav-Service-container:hover .Nav-Service-container-items{
    visibility:visible;
    padding-left:40px;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:20px;
  }
  .Headeroption-item{
    color:#222;
    text-decoration: none;
    min-width:150px;
    justify-content: flex-start;
  }
  .link{
    text-decoration: none;
  }
  
.service-name{
  height:50px;
  display:flex;
  align-items:center;
  padding-top:13px;
}
  .nav-menu-item{
    font-size:15px;
    color: rgb(122,141,162); 
    font-weight: 500;
}

.nav-menu-item:hover{
  color: black;
}

.nav-menu-item::after{
    transition: .2s ease-in-out;
    height: 2px;
    background-color: #007bff;
    width: 0%;
    content: '';
}

.nav-menu-item:hover::after{
    display: block;
    height: 2px;
    content: '';
    background-color: #007bff;
    width: 100%;
}
.technology-item{
  height:50px;
  padding-top:15px;
}
.Nav-teachnology-container {
  position:relative;
  list-style-type: none;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
}
.Nav-teachnology-container-items{
  position:absolute;
  top:50px;
  left:-85px;
  list-style-type:disc;
  visibility: hidden;
  text-decoration: none;
  background-color:white;
  display:flex;
  flex-wrap:wrap;
  gap:50px;
  z-index: 100;
  min-width:90vw;
  padding:20px;
  
}

.Nav-teachnology-container:hover .Nav-teachnology-container-items{
  visibility:visible;
  padding-left:50px;
  padding-top:10px;
  padding-bottom:10px;
}
.Nav-technology-sub-container-items{
  padding:10px 0px 10px 25px;
  list-style-type: disc;
}
.Nav-technology-item{
  color:#222;
  text-decoration: none;
  min-width:100px;
  font-size:12px;
}

.Nav-teachnology-main-heading{
  font-size:18px;
  font-weight:bold;
}

.Nav-Reseller-container {
    position:relative;
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
.Nav-Reseller-container-items{
    position:absolute;
    top:30px;
    left:-85px;
    list-style-type:disc;
    visibility: hidden;
    text-decoration: none;
    background-color:white;
    display:flex;
    flex-wrap:wrap;
    gap:30px;
    z-index: 100;
    min-width:220px;
    
  }

  .Nav-Reseller-container:hover .Nav-Reseller-container-items{
    visibility:visible;
    padding-left:50px;
    padding-top:10px;
    padding-bottom:10px;
  }
  .Headeroption-item1{
    color:#222;
    text-decoration: none;
    min-width:100px;
  }
.link{
    text-decoration: none;
  }
.about-us-nav{
  padding-top:0px;
  padding-bottom:2px;
}
@media screen and (max-width: 768px) {
    .nav-header {
      flex-direction: column;
      align-items: center;
      border-bottom-style: none;
    }
    .nav-mobile-logo{
        height: 40px;
        width: 40px;
    }

}

@media (max-width: 767px) {
    .nav-content {
      padding-left: 5%;
      padding-right: 5%;
    }
}

@media screen and (min-width: 768px) {
    .nav-bar-mobile-logo-container {
      display: none;
    }
}
@media screen and (min-width: 768px) {
    .nav-bar-website-logo-link {
      width: 170px;
    }
    .nav-website-name {
      font-size: 20px;
      line-height: 24px;
    }
}

@media screen and (max-width: 767px) {
    .nav-bar-large-container {
      display: none;
    }
}

@media screen and (min-width: 767px) {
    .nav-website-logo {
      width: 59px;
       margin-right:10px;
    }
    .nav-content{
        padding-left:20px;
    }
}
@media screen and (min-width: 1000px) {
    .nav-website-logo {
      width: 59px;
      margin-right:250px;
    }
    .nav-content{
        padding-left:100px;
    }
}
  
  