.faq-item {

    width: 80%;
  
  
  
  
    border: 1px solid #d7dae6;
  
  
  
  
    border-radius: 16px;
  
  
  
  
    margin-bottom: 24px;
  
  
  
  
    padding: 16px;
  
  
  
  
    list-style-type: none;
  
  }
  
  
  
  
  .question-container {
  
    display: flex;
  
  
  
  
    flex-direction: row;
  
  
  
  
    justify-content: space-between;
  
  
  
  
    align-items: center;
  
  }
  
  
  
  
  .question {
  
    color: #050c14;
  
  
  
  
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
  
  
  
    font-size: 12px;
  
  
  
  
    font-weight: 900;
  
  }
  
  
  
  
  @media screen and (min-width: 768px) {
  
    .question {
  
      font-size: 20px;
  
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
  
        sans-serif;
  
    }
  
    .faq-item {
  
      width: 80%;
  
  
  
  
      border: 1px solid #d7dae6;
  
  
  
  
      border-radius: 16px;
  
  
  
  
      margin-bottom: 24px;
  
  
  
  
      padding: 16px;
  
  
  
  
      list-style-type: none;
  
      width: 600px;
  
    }
  
  }
  
  
  
  
  .answer {
  
    color: #383f4a;
  
  
  
  
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  
  
  
  
    font-size: 18px;
  
  }
  
  
  
  
  @media (max-width: 576px) {
  
    .answer {
  
      font-size: 12px;
  
    }
  
  }
  
  
  
  
  .button {
  
    background-color: transparent;
  
  
  
  
    border: none;
  
  
  
  
    outline: none;
  
  
  
  
    cursor: pointer;
  
  }
  
  
  
  
  @media (max-width: 576px) {
  
    .image {
  
      width: 15px;
  
  
  
  
      height: 15px;
  
    }
  
  }
  
  
  
  
  .horizontal-line {
  
    border: 1px solid #e4e7eb;
  
  }