/* /* .totalContactUsContainer{
  min-height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

}
.contactUsContainer{
  width:90%;

  font-family:"Playfair Display SC" !important;
  height:90%;
  display:flex;

}

.detailsContainer{

  flex-grow:2;

}

.formContainer{

  display:flex;

  flex-direction:column;

  justify-content:space-around;

}


.smallInput{

  width:300px;

}


.contactbutton{
  color:#ffffff;
  align-self:flex-start;
}

.contactPara{
  color:#ffffff;
  font-weight:50;
}

.contactfind{
  color:#ffffff;
}

.aboutUsContainer{
  background-color:#4c4f4c;
  font-weight:900;
}

@media(max-width:992px){
  .contactUsContainer{
      display:flex;
      flex-direction:column;
  }
} 



.Registration_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row;
  width: 100%;
}

.contactus-form-column {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  height: 100vh;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aboutUsContainer{
  background-color:white;
  font-weight:900;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.form-column h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.contact-us-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form-column p {
  font-size: 16px;
  margin-bottom: 20px;
}

.form-column form label {
  font-size: 14px;
  margin-bottom: 8px;
  
}

.form-column form input,
.form-column form select,
.form-column form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.form-column form textarea {
  resize: vertical;
}

.form-column form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.form-column form button.close-button {
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


.alert-success,
.alert-error {
  background-color: #f0f0f0;
  color: #000;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.alert-error {
  background-color: #ffcccc;
  color: #ff0000;
} */
