.TotalFooterContainer{

    font-weight:bold;

    font-family:"Playfair Display SC";

    padding:20px;

    background-color:#353b66;

    display:flex;

    justify-content:center;

    align-items:center;

}

.footerContactList{

    padding-left:0px;

    color:#ffffff;

    font-weight:bolder;

    list-style-type:none;

    line-height:4px;

   

}




.footerContactListClumzi{

    padding-left:0px;

    color:#ffffff;

    font-weight:bolder;

    list-style-type:none;




}

.footerContactListItem{

   width:100%;

    display:flex;

}

.footerContainer{

    width:100%;

}




.footerUsefullLinks{

 

    color:#ffffff;

    font-weight:bolder;




}

.footerServices{

   

    color:#ffffff;

    font-weight:bolder;




}

.footerContact{

 

    color:#ffffff;

    font-weight:bolder;




}

.footerContent{

    color:#ffffff;

    font-weight:bolder;

    font-size:15px;

}

.footerHeader{

    font-size:25px;

}

.footerHorizontalLine{

    border:0.25px solid #ffffff;  

}





.ListItem1:hover{

    margin-left:20px;

    font-weight:900;




}





.ListItem2:hover{

    margin-left:20px;

    font-weight:900;




}





.ListItem3:hover{

    margin-left:20px;

    font-weight:900;




}




.ListItem4:hover{

    margin-left:20px;

    font-weight:900;




}




.ListItem5:hover{

    margin-left:20px;

    font-weight:900;




}




.ListItem6:hover{

    margin-left:20px;

    font-weight:900;




}

.footerIcon{

 

    align-self:stretch;

}





.ListItem7:hover{

    margin-left:20px;

    font-weight:900;




}




.ListItem8:hover{

    margin-left:20px;

    font-weight:900;




}




.ListItem9:hover{

    margin-left:20px;

    font-weight:900;




}






@media(max-width:500px){

    .footerContactListItem{

        justify-content:space-between;

    }




}




.footerIcon{

    border-radius:100%;

}

.footerIconsContainer{

    display:flex;

    justify-content:space-between;

}

 