.shadow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 80vw;
  height: 25%;
  padding: 5%;
  margin-bottom: 2%;
  border-radius: 8px;
}
.learn-Container {
  color: blue;
  text-decoration: underline;
}
.image-container {
  width: 45%;
}
.image-container2 {
  width: 50%;
  height: 80%;
}

.main-container2 {
  width: 45%;
}

.website-button {
  background-color: #3385;
  color: black;
  border: none;
}

.clients-heading {
  font-weight: bold !important;
  color: black;
  font-size: 30px;
}

.clients-paragraph {
  font-size: 15px;
}

@media screen and (max-width: 426px) {
  .image-container {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .shadow-container {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 80vw;
    height: 25%;
    padding: 5%;
    margin-bottom: 2%;
    font-size: 10px;
  }
  .main-container2 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .clients-heading {
    font-weight: bold !important;
    color: black;
    font-size: 20px;
  }
  .clients-paragraph {
    font-size: 12px;
  }
}

@media screen and (min-width: 430px) and (max-width: 769px) {
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  .shadow-container {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 80vw;
    height: 25%;
    padding: 5%;
    margin-bottom: 2%;
    font-size: 10px;
  }
  .main-container2 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .clients-heading {
    font-weight: bold !important;
    color: black;
    font-size: 20px;
  }
  .clients-paragraph {
    font-size: 12px;
  }
}
