/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.feature-box {
  height: 250px;
  width: 300px;
}

.dark-graybg {
  background-color: #373f52;
}
.radius5 {
  border-radius: 5px;
}
.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.feature-box figure .img-block {
  height: 125px;
  width: 125px;
  margin: -70px auto 40px;
  border: 1px solid #464f63;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.feature-box figure .img-block {
  height: 125px;
  width: 125px;
  margin: -70px auto 40px;
  border: 1px solid #464f63;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.bgdarkblue {
  background-color: #ffffff;
}

.polarian-card-image {
  border-radius: 40%;
}

.polarian-home {
  height: 400px;
  width: 400px;
}

.polarian-alm-bg-colour {
  background-color: #f9f6f6;
}

.polarian-alm-paragraph {
  font-size: 20px !important;
  color: #000000 !important;
  font-weight: 600 !important;
  padding: 3px !important;
  font-family: "Poppins", sans-serif !important;
}

.polarian-alm-card-heading {
  font-size: 17px !important;
  color: #ffffff !important;
  font-family: "Poppins", sans-serif !important;
}
.polarian-alm-card {
  background-color: #ffffff;

  border-radius: 30px 30px 30px 30px;

  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);

  transition: box-shadow 300ms ease 0ms;
  padding: 30px;
}

.polarian-alm-reval {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.polarian-alm-reval.active {
  transform: translateY(0px);
  opacity: 1;
}

.polarian-alm-heading {
  font-size: 30px !important;
  font-weight: bold !important;
  font-family: "Poppins", sans-serif !important;
  color: #000000 !important ;
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .polarian-home {
    height: 300px;
    width: 300px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 766px) {
  .feature-box {
    height: 100%;
    width: 100%;
  }
  .polarian-image-container {
    display: flex;
    justify-content: center;
  }
  .polarian-home {
    height: 300px;
    width: 300px;
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.feature-box {
  height: 250px;
  width: 300px;
}

.dark-graybg {
  background-color: #373f52;
}
.radius5 {
  border-radius: 5px;
}
.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.feature-box figure .img-block {
  height: 125px;
  width: 125px;
  margin: -70px auto 40px;
  border: 1px solid #464f63;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.feature-box figure .img-block {
  height: 125px;
  width: 125px;
  margin: -70px auto 40px;
  border: 1px solid #464f63;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.bgdarkblue {
  background-color: #ffffff;
}

.polarian-card-image {
  border-radius: 40%;
}

.polarian-home {
  height: 400px;
  width: 400px;
}

.polarian-alm-bg-colour {
  background-color: #f9f6f6;
}

.polarian-alm-paragraph {
  font-size: 20px !important;
  color: #000000 !important;
  font-weight: 500 !important;
  padding: 3px !important;
}

.polarain-alm-first-page {
  height: max-content;
}

.polarian-alm-card-heading {
  font-size: 17px !important;
  color: #ffffff !important;
  text-align: center;
}
.polarian-alm-card {
  background-color: #ffffff;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  transition: box-shadow 300ms ease 0ms;
  padding: 30px;
}

.polarian-alm-reval {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.polarian-alm-reval.active {
  transform: translateY(0px);
  opacity: 1;
}

.polarian-alm-heading {
  font-size: 30px !important;
  font-weight: bold !important;
  font-family: "Poppins", sans-serif !important;
  color: #000000 !important ;
}
.polarian-card-margin {
  margin-left: 20px;
  margin-right: 0px;
}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .polarian-home {
    height: 300px;
    width: 300px;
    margin-top: 100px;
  }
}

@media screen and (max-width: 766px) {
  .feature-box {
    height: 100%;
    width: 100%;
  }
  .polarian-image-container {
    display: flex;
    justify-content: center;
  }
  .polarian-home {
    height: 300px;
    width: 300px;
  }
  .polarian-alm-heading {
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: "Poppins", sans-serif !important;
    color: #000000 !important ;
  }
  .polarian-alm-paragraph {
    font-size: 13px !important;
    color: #000000 !important;
    font-weight: 500 !important;
    padding: 3px !important;
    font-family: "Poppins", sans-serif !important;
  }
}
