/* .slide {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.slide-content {
    color: black;
}

.slider-contact-link{
    text-decoration: none;
    color: white;
} */

/* Slider.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.slide {
  background-color: black;
  padding: 10px;
}

.slide-content {
  color: black;
}

.slider-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.slider-heading {
  font-family: "Poppins", sans-serif !important;
  font-size: 25px !important;
  font-weight: bold !important;
  color: white !important;
}

.slider-paragraph {
  font-family: "Poppins", sans-serif !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  color: white !important   ;
}

.slider-button {
  font-family: "Poppins", sans-serif !important;
  font-size: 12px !important;
}

@media screen and (max-width: 767px){
    .slider-container {
        height: 300px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      .slider-heading {
        font-family: "Poppins", sans-serif !important;
        font-size: 15px !important;
        font-weight: bold !important;
        color: white !important;
      }
      
      .slider-paragraph {
        font-family: "Poppins", sans-serif !important;
        font-size: 10px !important;
        font-weight: 500 !important;
        color: white !important   ;
      }
      
      
}