/* Slider.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.slide {
  background-color: transparent;
  padding: 10px;
}

.slide-content {
  color: black;
}

.slider-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.slider-heading {
  font-size: 25px !important;
  font-weight: bold !important;
  color: white !important;
}

.slider-paragraph {
  font-size: 20px !important;
  font-weight: 500 !important;
  color: white !important   ;
  width: 400px;
}

.slider-button {
  font-family: "Poppins", sans-serif !important;
  font-size: 12px !important;
}