/* .salesforce-main-container {
    background-color: #fff;
    height: 100vh;
    width: 100%;
  }
  
  .sales-force-container {
    background-image: linear-gradient(
      to top,
      #d5d4d0 0%,
      #d5d4d0 1%,
      #eeeeec 31%,
      #efeeec 75%,
      #e9e9e7 100%
    );
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 400px;
    width: 100%;
  }
  
  .salesforceeee-image {
    width: 600px;
    height: 400px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
  }
  
  .salesforce-image {
    width: 500px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
  }
  
  .sales-force-cardcontainer {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    width: 100%;
  }
  
  .sales-heading {
    padding: 10px;
    margin: 10px;
    color: #10b3e4;
    font-family: "Poppins", sans-serif;
  }
  
  h1 {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: solid;
    padding: 10px;
    margin: 15px;
  }
  p {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-weight: solid;
    padding: 8px;
    margin: 5px;
  }
  
  .check-icons {
    margin-right: 10px;
  }
  
  .list-items {
    margin-bottom: 10px;
  }
  
  @media (max-width: 992px) {
    .sales-force-container {
      height: 400px;
    }
  
    .salesforceeee-image {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  
    .salesforce-image {
      width: 100%;
      max-width: 350px;
      height: auto;
    }
  }
  
  @media (max-width: 576px) {
    .sales-force-container {
      height: 300px;
    }
  
    .salesforceeee-image {
      max-width: 300px;
    }
  
    .salesforce-image {
      max-width: 250px;
    }
  }
  
  .feature-box {
    height: 250px;
    width: 300px;
  }
  
  .dark-graybg {
    background-color: #373f52;
  }
  .radius5 {
    border-radius: 5px;
  }
  .my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  
  .feature-box figure .img-block {
    height: 125px;
    width: 125px;
    margin: -70px auto 40px;
    border: 1px solid #464f63;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .feature-box figure .img-block {
    height: 125px;
    width: 125px;
    margin: -70px auto 40px;
    border: 1px solid #464f63;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .bgdarkblue {
    background-color: #ffffff;
  }
  
  .polarian-card-image-2 {
    border-radius: 20%;
  }
  
  .salesforce-reval {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
  }
  
  .salesforce-reval.active {
    transform: translateY(0px);
    opacity: 1;
  } */


  .sales-box {
    height: 250px;
    width: 300px;
  }
  
  .sales-dark-graybg {
    background-color: #2294be;
  }
  .sales-radius5 {
    border-radius: 5px;
  }
  .my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  
  .sales-box figure .sales-img-block {
    height: 125px;
    width: 125px;
    margin: -70px auto 40px;
    border: 1px solid #2294be;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .sales-feature-box figure .sales-img-block {
    height: 125px;
    width: 125px;
    margin: -70px auto 40px;
    border: 1px solid #464f63;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .sales-bgdarkblue {
    background-color: #f8fbfc;
  }
  
  .salesforce-heading {
    font-size: 30px !important;
    font-weight: bold !important;
    font-family: "Poppins", sans-serif !important;
    color: #000000 !important ;
  }
  
  .salesforce-paragraph {
    font-size: 17px !important;
    color: #000000 !important;
    font-weight: 500 !important;
    padding: 3px !important;
    font-family: "Poppins", sans-serif !important;
  }
  
  .animation-image {
    height: 100%;
    width: 100%;
  }
  
  .polarian-card-image-2 {
    border-radius: 30%;
  }
  
  .salesforce-bg-image {
    background-image: url("https://assets-global.website-files.com/63b466db0286c6d23709be46/63d059aafb5f584b787cbef6_blog-feat-6-steps-to-backup-restore-salesforce-data-loader.png");
    height: 100vh;
    background-size: cover;
    opacity: 1.5;
  }
  
  .salesforce-banner-heading-2 {
    color: #ffffff !important;
    font-size: 30px !important;
    font-weight: bold !important;
    font-family: "Poppins", sans-serif !important;
  
    width: 600px;
  }
  
  .salesforce-banner-heading {
    font-size: 50px !important;
    font-weight: bold !important;
    font-family: "Poppins", sans-serif !important;
    color: #062f46 !important ;
    width: 600px;
  }
  
  .salesforce-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
  }
  
  @media screen and (max-width: 767px) {
    .salesforce-heading {
      font-size: 20px !important;
      font-weight: bold !important;
      font-family: "Poppins", sans-serif !important;
      color: #000000 !important ;
    }
  
    .salesforce-paragraph {
      font-size: 13px !important;
      color: #000000 !important;
      font-weight: 500 !important;
      padding: 3px !important;
      font-family: "Poppins", sans-serif !important;
    }
  }